---
---

@import "{{ site.theme }}";

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond&display=swap");

body {
    background-color: whitesmoke !important;
    font-family: "EB Garamond", serif !important;
}

img {
    background-color: transparent !important;
}

h1 {
    border: none !important;
}
h1 a {
    display: none !important;
}
